 <nav id="nav">
                <ul>
                    <li><a href="/#inicio" onclick="seleccionar()">INICIO</a></li>
                    <li><a href="/#Pastor" onclick="seleccionar()">PASTOR</a></li>
                    <li><a href="/#Golden" onclick="seleccionar()">GOLDEN</a></li>
                    <li><a href="/#Pequenis" onclick="seleccionar()">PEQUENIS</a></li>
                </ul>
</nav>