<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap">;
    <title>PORTAFOLIO PERSONAL</title>
    <link rel="stylesheet" href="/CSS/estilos.css">
    <link rel="stylesheet" href="/CSS/EstilosProyecto.css"
    <link rel="stylesheet" href="/CSS/normalize.css">
</head>
<body>
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        {{>header}}
    </div>

    <!-- SECCION INICIO -->
    <section id="Index" class="index">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="img/hero.png" alt="">
            </div>
            <img src="./IMG/PERROS.jpg">
            <h1>PERROS DOMESTICOS</h1>
        </div>
    </section>
    {{>footer}}    
</body>
</html>