<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
      <link rel="stylesheet" href="/CSS/estilos.css">
    <link rel="stylesheet" href="/CSS/EstilosProyecto.css"
    <link rel="stylesheet" href="/CSS/normalize.css">
</head>
<body>
        <!-- MENU ENCABEZADO -->
        <div class="contenedor-header">
       {{>header}}
            <hr><hr>
            <div class="cont-img-texto">
                <img src="/IMG/PASTOR1.jpg" alt="Angeles">
                <p> Los Pastores alemanes son una de las razas más reconocibles del mundo. Tienen un aspecto musculoso y 
                    atento y una actitud noble y distante. Son perros ágiles y bien equilibrados de porte orgulloso. Su pelaje 
                    puede presentar varios colores (consulta el estándar de la raza) y están formados por un manto superior duro, 
                    áspero y lacio, y un manto inferior grueso. La altura ideal del macho adulto es de 63 cm y la de la hembra, 58 cm. 
                    El peso puede estar entre 30 y 36 kg.</p>
            </div>
            <hr>
        </div>
         <!-- SECCION SOBRE MI -->
    <section id="Pastor" class="Pastor">
        <div class="contenido-seccion">
            <h1>Pastor Aleman</h1>
            <h2>Historia</h2>
            <p>Sus orígenes se remontan a finales del siglo XIX, cuando en Alemania se inició un programa de crianza para guarda y protección de los 
                rebaños de carneros en contra de los lobos. El capitán de caballería del ejército alemán, Maximilian von Stephanitz, es considerado el 
                padre de la raza. Más tarde, tras la aparición de la Asociación de Amigos del Pastor Alemán en 1899, se inició una selección de ejemplares 
                cuyos cruces mejoraron tanto el aspecto psíquico como físico del animal.</p>
        </div>
    </section>
    {{>footer}}
</body>
</html>